$main-blue: #00c7f5;
$background-grey: #f5f5f5;
// border-color
$border-line: #ededed;
// font-color
$font-main-black: #424242;
$font-nav-black: #474747;
$font-subNav-black: #424242;
$font-filter-gray: #757575;
