@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@font-face {
  font-family: 'Jal_Onuel';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
​
// flexBox
// @mixin flexBox($justify-content, $align-items, $flex-direction) {
//   display: flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
//   flex-direction: $flex-direction;
// }

// @mixin mobile {
//   @media screen and (max-width: 770px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (max-width: 1025px) {
//     @content;
//   }
// }

​ body {
  // font-family: 'Single Day', cursive;
  font-family: 'Jal_Onuel', cursive;
}
​ * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
​ a {
  text-decoration: none;
  color: inherit;
}
​ li {
  list-style: none;
}
​ button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
